/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
}
.modal-loading{
    text-align: center !important;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-loading .loading-content {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}
.modal-loading .modal-dialog{
    top: 20% !important;
}
#wrapper {
    width: 100%;
}
.error{
    color:red;
    font-size: 11px;

}
table thead td{
    font-family: normal !important;

}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

a:hover{
    text-decoration: none;

}
.title-underline{
    border-bottom: 1px solid #00b3ee;
   width: 100%;
    margin-bottom: 10px;
}
.photo-manage{
    max-width: 70%;
    margin-left: 10%;
    height: 250px;
    overflow: auto;
    float: left;
}
.upload-manage{
    border:2px solid #2b2b2b;
    width: 15%;
    height: 230px;
    background: #2b2b2b;
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;

    color: #fff;
    float: left;
}
.upload-image-food{
    border:2px solid #2b2b2b;
    width: 625px;
    height: 247px;
    background: #2b2b2b;
    text-align: center;
    margin-top: -28px;
    margin-left: 10px;

    color: #fff;
    float: left;
}
.upload-image-promotion{
    border:2px solid #2b2b2b;
    width: 100%;
    height: 260px;
    background: #2b2b2b;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
    float: left;
}
.img-upload{
    width: 185px;
    height: 230px;

    margin-left: 10px;
    margin-top: 5px;
    position: relative;
}
.image-promo-size{
    width: 100%;
    height: 260px;
}
.img-upload-promo{
    width: 100%;
    height: 260px;
    margin-bottom: 15px;
    position: relative;
}
.banner-upload{
    width: 360px;
    height: 230px;

    margin-left: 10px;
    margin-top: 5px;
    position: relative;
}
.image-size{
    width: 185px;
    height: 230px;
}

.banner-size{
    width: 360px;
    height: 230px;
}
.img-add-circle{
    padding-top: 50px;
}
.work-hour{
    width: 450px;
    height: 100px;
    border: 2px solid #9acfea;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;

}
.btn-remove-row{
    width: 20px;
    height: 20px;
    position: absolute;

    left:98%;
    bottom: 90%;
}

.days-week{
    list-style: none;
    padding: 0;
    margin-top: 10px;
    width:100% !important;
}
.days-week li{
    display: inline-table;
    width: 55px;
    background: rgba(135, 149, 146, 0.7);
    height: 30px;
}
.days-week li.active{
    background: #000;
}
.days-week li a{
    color: #FFF;
    padding: 12px;

}
.days-week li a:hover{
    cursor: pointer;
}

.remove-img{
    cursor: pointer;
}
.video-upload{
    width: 300px;
    height: 230px;

    margin-left: 10px;
    margin-top: 5px;
    position: relative;
}

.icon-pop{
    width: 15%;
    height: 12%;
    background: rgba(184, 187, 199, 0.7);
    position: absolute;
    left:85%;
    padding-left: 10px;
    padding-top: 5px;
    top:0%;
    font-size: small;
}
.icon-banner{
    width: 8%;
    height: 12%;
    background: rgba(184, 187, 199, 0.7);
    position: absolute;
    left:92%;
    padding-left: 10px;
    padding-top: 5px;
    top:0%;
    font-size: small;
}
.icon-banner-promo{
    width: 4%;
    height: 12%;
    background: rgba(184, 187, 199, 0.7);
    position: absolute;
    left:96%;
    padding-left: 10px;
    padding-top: 5px;
    top:0%;
    font-size: small;
}
.v-hidden{visibility:hidden !important}
@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 34px !important;
    user-select: none;
    -webkit-user-select: none;
}
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}


.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
@media (max-width: 480px) {
    .photo-manage{
        max-width: 100%;
        margin: 0;
    }
    .upload-manage{
        width: 90%;
    }
    .upload-image-food{
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 979px){


}

@media (min-width: 969px) and (max-width: 1169px){



}